#addnew {
    display: none;
}

label, input, textarea {
    display: block;
    width: 100%;
}

label {
    font-weight: bold;
    margin: 10px 0 3px 0;
}

#badge-selector {
    min-width: 300px;
    display: block;
}

button {
    margin: 10px;
}

fieldset > span {
    display: inline-block;
}

fieldset, #password {
    margin: 20px;
    max-width: 800px;
}

#issue {
    position: relative;
    left: 40px;
    margin-top: 30px;
}

.error-msg {
    color: red;
    font-weight: bold;
    padding-left: 10px;
}

#form-error {
    display: none;
}