<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <script>
    {% include "ui.js" %}
  </script>
  <script>
    {% include "validation.js" %}
  </script>
  <style>
    {% include "style.css" %}
  </style>
</head>

<body>
  <h1>UCS Open Badges Issuer v1.1</h1>

  <form id="badge-form" action="https://script.google.com/macros/s/AKfycbwhWomQjaALphGQ1JeSQhfO0VsaZxYBRl-xnEWp328wB4wFlg_T/exec"
    onsubmit="return validateForm();" method="post">
    <label for="badge-selector">Select Badge</label>
    <select id="badge-selector" name="selectedbadge" value="Choose badge" required>
    </select>

    <button type="button" onclick="showAddNew(true);">Add New</button><br>

    <fieldset id="addnew">
      <legend>Add New Badge</legend>

      <label for="badge-name">Name</label>
      <input type="text" name="badgename" id="badge-name" onblur="validateInput('badge-name')">
      <span>Please enter a name for your badge</span>
      <span id="badge-name-error" class="error-msg"></span>

      <label for="badge-desc">Description</label>
      <textarea type="text" name="badgedesc" id="badge-desc" onblur="validateInput('badge-desc')"></textarea>
      <span>Please enter a description for your badge</span>
      <span id="badge-desc-error" class="error-msg"></span>
      
      <label for="badge-image">Image</label>
      <input type="url" name="badgeimage" id="badge-image" onblur="validateInput('badge-image')"
          placeholder="http://www.ucs.ac.uk/openbadge/badgeimages/AMC_P.png">
      <span>The image must be a fully qualified url of type png</span>
      <span id="badge-image-error" class="error-msg"></span>

      <label for="badge-criteria">Criteria</label>
      <input type="url" name="badgecriteria" id="badge-criteria" onblur="validateInput('badge-criteria')"
          placeholder="http://www.ucs.ac.uk/openbadge/AMC-Development-Day.aspx">
      <span>This must be a fully qualified url to a statement describing what the learner will have to achieve
to qualify for this badge</span>
      <span id="badge-criteria-error" class="error-msg"></span>
      
      <label for="badge-issuer">Issuing Organisation</label>
      <input type="url" name="badgeissuer" id="badge-issuer" onblur="validateInput('badge-issuer')" 
          value="http://www.ucslearningservices.co.uk/openbadges/issuerOrganisation.json">
      <span>Use the default value (testing)</span>
      <span id="badge-issuer-error" class="error-msg"></span>
      
      <br>
      <button type="button" onclick="createBadge()">Create Badge</button>
      <button type="button" onclick="showAddNew(false);">Cancel</button><br>
      <p>Alignment and Tags properties not currently available. 
        See <a href="https://openbadgespec.org/#BadgeClass" target="_blank">Open Badges Spec</a> for more info.</p>
    </fieldset>

    <label for="import">Import Recipients from CSV</label>
    <input id="import-recipients" type="file" onchange="importRecipients();" accept=".csv" name="import">
    <span>File data is not currently encrypted before sending. First row is assumed to be header.</span>
    <span id="import-recipients-error" class="error-msg"></span>
    
    <fieldset id="recipient">
      <legend>Recipient Details</legend>
      
      <label for="recipient-name">Name</label>
      <input type="text" id="recipient-name" name="name" onblur="validateInput('recipient-name')" required>
      <span>What is the recipient's name?</span>
      <span id="recipient-name-error" class="error-msg"></span>

      <label for="recipient-email">Email</label>
      <input type="text" id="recipient-email" name="email" onblur="validateInput('recipient-email')" required>
      <span>Please enter the full email address e.g. studentname@example.ac.uk</span>
      <span id="recipient-email-error" class="error-msg"></span>
    </fieldset>
    
    <fieldset id="assertions">
      <legend>Badge Assertions (optional)</legend>
      
      <label for="assertion-evidence">Evidence</label>
      <input type="url" id="assertion-evidence" name="evidence" onblur="validateInput('assertion-evidence')">
      <span>The URL to a page showing the recipients work in earning this badge.</span>
      <span id="assertion-evidence-error" class="error-msg"></span>
      
      <label for="assertion-expiration">Expires</label>
      <input type="date" id="assertion-expiration" name="expiration" onblur="validateInput('assertion-expiration')">
      <span>Date the badge assertion is valid until. (revokation not currently supported)</span>
      <span id="assertion-expiration-error" class="error-msg"></span>
    </fieldset>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    
    <button id="issue" type="submit" form="badge-form">Issue Badges</button>
  </form>
  <p id="form-error" class="error-msg">Your form contains errors</p>
</body>

</html>